{{!-- left menu --}}
<div class="left_menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <span class="logoSpeak">Speak</span><span class="logoIt">it</span></a>
   
    <div class="collapse navbar-collapse" id="navbarText">
    </div>
  </nav>
  <div class="subspeaks_title d-flex justify-content-start">
    <span id="subspeaks_title">MY SUBSPEAKS</span>
  </div>
  <div class="subspeak_main_div">


  </div>

</div>