{{!-- left menu --}}
<div class="left_menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <span class="logoSpeak">Speak</span><span class="logoIt">it</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    </div>
  </nav>
  <div class="subspeaks_title d-flex justify-content-start" id="subspeaks_title_div">
  </div>
  <div class="subspeak_main_div">


  </div>

</div>