{{!-- Login Modal --}}
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title">Login</h4>
          <form action="/api/login" method="POST">
            <div class="form-group">

              <label for="username">Username</label>
              <input class="form-control" type="text" name="username" placeholder="SteveRodgers">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" placeholder="***************">
              <button class="btn btn-info btn-lg mainBtn" type="submit"><i class="far fa-user"></i> Login</button>
            </div>
          </form>
          <p>Dont have an account <a href="/register">Register</a></p>
        </div>
      </div>

    </div>
  </div>

</div>