{{!-- right menu --}}
<div class="right_menu">
  <div class="username d-flex justify-content-center">

  </div>
  <div class="subspeaks_title d-flex justify-content-start">
    <ul>
      <li><a href="/"><i class="far fa-newspaper" id="myFeed"></i></a></li>
      <li><a href="/"><i class="fas fa-cog" id="settings"></i></li>
      <li><a href="/s/subspeaks"><i class="far fa-edit" id="createPost"></i></a></li>
      <li><button type="button" data-toggle="modal" data-target="#ssModal" id="createSSBtn"><i class="fas fa-pen-nib"
            id="createSS"></i></button></li>
    </ul>
  </div>
</div>