{{!-- right menu --}}
<div class="right_menu">
  <div class="username d-flex justify-content-center">

  </div>
  <div class="subspeaks_title d-flex justify-content-start" id="navList">

  </div>
</div>