{{!-- my feed page --}}

{{!-- posts div --}}
<div class="wrapper">
  {{> navbar}}
  <div class="container-fluid title_container">

    <div class="row" id="title_row">

      {{!-- title bar --}}
      <div class="col-xl-6 d-flex justify-content-start left_col_title ">
        <div class="pageTitle">
          ALL
        </div>
      </div>
      <div class="col-xl-6 d-flex justify-content-end right_col_title">

      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row" id="post_row">

      {{!-- posts --}}


    </div>
  </div>
</div>
</div>


{{> leftBar}}

{{> rightBar}}



{{> loginModal}}
{{> createSSModal}}