<div class="wrapper">
  <div class="container">
    <form action="POST" id="createPostForm">
      <input type="text" id="cpSSName" name="subspeakName" placeholder="Enter the Subspeak's name.">
      <input type="text" id="cpSSTitle" name="title" placeholder="Enter the Post's Title">
      <input type="textarea" id="cpSSTextArea" name="text" placeholder="Enter Text">
      <input type="submit" name="login" class="login loginmodal-submit" value="Submit">
    </form>
  </div>
</div>


{{> leftBar}}
{{> rightBar}}