{{!-- my feed page --}}

{{!-- posts div --}}
<div class="wrapper">
  {{> navbar}}
  <div class="row" id="title_row">

    {{!-- title bar --}}
    <div class="col-xl-6 d-flex justify-content-start left_col_title ">
      <div class="title">
        MY FEED
      </div>
    </div>
    <div class="col-xl-6 d-flex justify-content-end right_col_title">
      <ul>
        <li>Useful</li>
        <li>Informative</li>
        <li>Educational</li>
      </ul>
    </div>
  </div>
  <div class="row">


    {{!-- posts --}}
    <div class="post_container">

      <div class="post_title_container d-flex">
        <h3 class="title">Temporary Post</h3>
        <span class="subspeak_name ml-auto">test</span>
      </div>

      <div class="post_description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nam non quis,
        ipsam eaque aspernatur atque consectetur impedit dignissimos. Numquam alias excepturi deserunt reiciendis
        modi
        reprehenderit illum dolorem tempore quos.
      </div>

      <div class="d-flex post_footer">
        <ul>
          <li>Comments</li>
          <li>Read Later</li>
          <li>User</li>
          <li>Voting</li>
        </ul>
        <span class="badges ml-auto">
          <ul>
            <li>Useful</li>
            <li>Educational</li>
            <li>Inforamtive</li>
          </ul>
        </span>
      </div>

    </div>

  </div>
</div>
</div>

{{> leftBar}}

{{> rightBar}}


{{> loginModal}}
{{> createSSModal}}