{{!-- my feed page --}}

{{!-- posts div --}}
<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <input type="text" class="search_bar">
  </nav <div class="container" id="central_container">
  <div class="row" id="title_row">

    {{!-- title bar --}}
    <div class="col-xl-6 d-flex justify-content-start left_col_title ">
      <div class="title">
        MY FEED
      </div>
    </div>
    <div class="col-xl-6 d-flex justify-content-end right_col_title">
      <ul>
        <li>Useful</li>
        <li>Informative</li>
        <li>Educational</li>
      </ul>
    </div>
  </div>
  <div class="row">

    {{!-- posts --}}
    <div class="post_container">

      <div class="post_title_container d-flex">
        <h3 class="title">Temporary Post</h3>
        <span class="subspeak_name ml-auto">test</span>
      </div>

      <div class="post_description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nam non quis,
        ipsam eaque aspernatur atque consectetur impedit dignissimos. Numquam alias excepturi deserunt reiciendis
        modi
        reprehenderit illum dolorem tempore quos.
      </div>

      <div class="d-flex post_footer">
        <ul>
          <li>Comments</li>
          <li>Read Later</li>
          <li>User</li>
          <li>Voting</li>
        </ul>
        <span class="badges ml-auto">
          <ul>
            <li>Useful</li>
            <li>Educational</li>
            <li>Inforamtive</li>
          </ul>
        </span>
      </div>

    </div>

  </div>
</div>
</div>

{{!-- left menu --}}
<div class="left_menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Speakit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    </div>
  </nav>
  <div class="subspeaks_title d-flex justify-content-start">
    <span id="subspeaks_title">MY SUBSPEAKS</span>
  </div>
</div>

{{!-- right menu --}}
<div class="right_menu">
  <div class="username d-flex justify-content-center">
    {{#if user}}
    Username
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </div>
</div>

{{!-- Login Modal --}}
<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Login</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="loginmodal-container">
              <h1>Login</h1><br>
            <form>
              <input type="text" name="user" placeholder="Username">
              <input type="password" name="pass" placeholder="Password">
              <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>
      
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>