<div class="container">
  {{title}}
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>
  <a href="/">Home</a>
  <a href="/register">Register</a>

</div>