<div class="container">
  {{title}}

  {{#if errors}}
    {{#each errors}}
      <div class="alert alert-danger">
        {{this.msg}}
      </div>
    {{/each}}
  {{/if}}
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="passwordMatch" placeholder="password match">
    <button type="submit">Register</button>
  </form>
</div>
